html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    background-color: #232946;
    color: #fffffe;
}
body {
    font-size: 1.6rem;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
p {
    text-align: center; 
}
#img-caption {
    margin: 15px 0 5px 0;
}
ul {
    max-width: 75%;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
li {
    margin: 16px 0;
  }
h1 {
    text-align: center;
}

